---
layout: page
title: Writing
permalink: /writing/
---

<div class="home">

  <ul class="posts">
    {% for post in site.categories["writing"] %}
      <li class="post-item">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    {% for post in site.categories["blog"] %}
      <li class="post-item">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
