---
layout: default
---

<div class="home">

  <div class="posts" id="front-page-posts">
    {% for post in site.tags["featured"] %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-excerpt">
      <div class="padded-content">
        <div class="post-title">{{ post.title }}</div>
        {% if post.description %}
          <span class="body">{{ post.description | strip_html }}</span>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>
<script type="text/javascript">

</script>